*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

header{
    background-color: #add8e6;
    padding-top: 10px;
}

.nav-bar{
    width: 1000px;
    height: 40px;
    background-color: #daa520;
    margin: auto;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .logo{
    border: 2px dashed black;
    width: 25%;
    height: 100%;
    padding: 5px;
}

nav{
    border: 2px dashed black;
    width: 50%;
    height: 100%;
    padding: auto;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

nav li{
    margin: 5px;
}

.login{
    border: 2px dashed black;
    width: 25%;
    height: 100%;
    padding: 5px;
    text-align: right;
}

.header-box{
    background-color: #00008b;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.block{
    background-color: #ee82ee;
    width: 800px;
    height: 400px;
    margin: 40px;
}

.main-box{
    height: 600px;
    justify-content: center;
    align-items: center;
}

.top .block-l{
    width: 550px;
    height: 450px;
    background-color: #1e90ff;
    border: 2px dashed black;
}

.top .block-r{
    width: 350px;
    height: 450px;
    background-color: #ffc0cb;
    border: 2px dashed black;
}

.middle .block-r{
    width: 550px;
    height: 450px;
    background-color: #1e90ff;
    border: 2px dashed black;
}

.middle .block-l{
    width: 350px;
    height: 450px;
    background-color: #ffc0cb;
    border: 2px dashed black;
}

.middle{
    background-color: #d3d3d3;
}

.bottom .block-l{
    width: 550px;
    height: 450px;
    background-color: #1e90ff;
    border: 2px dashed black;
}

.bottom .block-r{
    width: 350px;
    height: 450px;
    background-color: #ffc0cb;
    border: 2px dashed black;
}

.final-box{
    height: 900px;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
}

.final-block{
    background-color: green;
    width: 900px;
    height: 800px;
    border: 2px dashed black;
}

footer{
    background-color: #23272a;
}

.top-footer{
    height: 600px;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}

.red-block{
    width: 300px;
    height: 500px;
    background-color: #f08080;
    border: 2px dashed black;
}

.footer-block{
    width: 150px;
    height: 500px;
    background-color: #20b2aa;
    border: 2px dashed black;
}

.bottom-footer{
    padding: 20px;
}

.footer-container{
    width: 900px;
    height: 50px;
    background-color: #7fffd4;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.footer-container .logo{
    border: 2px dashed black;
    height: 30px;
    background-color: #ffb6c1;
    padding: 2px;
}

.footer-container .button{
    border: 2px dashed black;
    height: 30px;
    background-color: #ffb6c1;
    padding: 2px;
}